.mainDiv {
    /* width: 700px; */
    /* margin: 0px auto; */
    padding-bottom: 50px;
    clear: both;
    /* text-align: center; */
    /* border: 1px solid black; */
}

.notSignIn {
    padding-top: 30px;
    padding-bottom: 0px;
    font-size: 20px;
}

.mainDiv > h3 {
    color: white;
}

.mainDiv div {
    width: 300px;
    margin-top: 10px;
    display: inline-block;
}

.homeButton {
    border-radius: 10px;
    padding: 0 16px;
}

.buttonLink {
    display: inline-block;
    margin: 15px 10px;
}

.buttonLink:hover {
    color:burlywood;
}